.conteiner {
  font-family: 'Playfair Display', serif;
  max-width: 235px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 8px;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: #FFFFFF;
}

.h {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.separator {
  width: 100%;
  border-top: 3px solid black;
  margin: 0;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px 0px 5px 0px;
  background-color: #BDBDBD;
  color: #FFFFFF;
}  

.input::placeholder {
  color: rgb(0, 0, 0); 
  opacity: 1; 
}

.button {
  padding: 10px;
  font-size: 16px;
  background-color: #E6FF9E;
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  border-radius: 5px 0px 5px 0px;
  cursor: pointer;
  align-self: center;
  align-items: center;
}

.button:hover {
  background-color: #E6FF9E;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  animation: fadeIn 0.3s;
}

.modal {
  width: 275px; 
  padding: 0;
  border: none;
  background: none;
  transform: scale(1);
  animation: zoomIn 0.3s;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes zoomIn {
  from {
      transform: scale(0.7);
  }
  to {
      transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(0.7);
  }
}

